<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>The World of Gobbles on Gobbler</h1>
    <a href="/gobbles">Return To My Gobbles</a>
    <% users.forEach(function(i) { %>
        <ul>
            <li>
                <img src=<%= i.avatar %>><strong>&nbsp;|&nbsp;<%= i.displayName %></strong><br>
                <% i.gobbles.forEach(function(gobble) { %>
                    <ul>
                        <li><%= gobble.content %><br></li>
                    </ul>
                <% }) %>
            </li>
        </ul>
    <% }) %>
</body>
</html>