<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper" >
        <% if (user){ %>
            <img src="<%= user.avatar %>" alt="">
            <textarea name="gobble-input" id="gobble" cols="60" height="140px"></textarea>
            <input type="SUBMIT" value="Subit Edit" id="editButton">
        <% } %>    
    
</body>
</html>