<!DOCTYPE html>
<html>
  <head>
    <title>Gobbler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Gobbler Index</h1>
    <ul class="right">
      <% if (user) { %>
      <li><a href="/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/auth/google">Login with Google</a></li>
      <% } %>
    </ul>
  </body>
</html>
