<!DOCTYPE html>
<html>
  <head>
    <title>Gobbler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
    <div class="wrapper">
      <aside class="aside aside-1">
        <ul class="facts">
          <li>Edit your Gobbles</li>
          <li>See others edits</li>
          <li>Enjoy a life where you dont have to delete</li>
        </ul>
      </aside>
      <aside class="aside aside-2">
        <a class="nav-link" href="/auth/twitter">Login with Twitter</a>
      </aside>
    </div>

  </body>
</html>
