<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css"> 
    <link rel="icon" href="https://i.imgur.com/b68AN02.png">   
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Gobbler</h1>
    <ul class="right">
        <% if (user) { %>
        <li><a href="/logout">Logout</a></li>
            <textarea></textarea>
        <%= user %>

        <% } else { %>
        <li><a href="/auth/google">Login with Google</a></li>
        <li><a href="/auth/twitter">Login with Twitter</a></li>
        <% } %>
    </ul>


</body>
</html>