
.selector-for-some-widget {
  box-sizing: content-box;
}


  

.land {
  display: flex;  
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  font-weight: bold;
}

.wrapper {
  display: flex;  
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
  width: 100%;
}


.input {
  display: flex;
  justify-content: center;
  align-content: center;
} 

.edit {
  display: flex;
  justify-content: space-around;

}

.facts {
  z-index: 1;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 50px;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #9c1515;
  width: 100%;
  padding: 15px 15px;
}
.nav-link:hover {
  text-decoration: underline;
}

.navbar-brand {
  font-size: 35px;
}

.aside-1 {
  background: #000000;
  width: 25%;
  height: 1200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.vexels.com/media/users/3/137028/isolated/preview/52f6a83cbfc0e6a006a7222efdeb9752-turkey-standing-silhouette-by-vexels.png);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -150% 65%;
}

.filt {
  height: 1200px;
  width: 100%;
  background-color: rgba(139, 0, 0, 0.562);
  position: absolute;
}

.aside-2 {
  z-index: 1;
  margin: 0;
  background: white;
  width: 25%;
  height: 1200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://johnzeus.files.wordpress.com/2012/01/heritage_turkeys1.jpg)
}


@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  margin: 0 auto;
  height: 1000px;
  font-family: Arial, Helvetica, sans-serif
}

div.gob {
  display: flex;
  display: inline-block;
  align-content: center;

}

.btn-danger {
  padding: 18px 28px;
  font-size: 40px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  }

  .gravyoff:hover {
    transform: rotate(-45deg);
    transition-duration: 1s;
    border: transparent;
  }

  .gravyon {
    transform: rotate(-45deg);
    width: 32px;
    height: 32px; 
    transition-duration: .2s;
  }

  .gravyoff {
    transition-duration: 3s;
    width: 32px;
    height: 32px; 
    box-sizing: border-box;


  }

  #avatarImg {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }



  #gravy-button {
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;
    display: inline-block;
  }

